:root {
  /* Colors */
  --primary: 246, 82, 97;
  --secondary-light: 66, 66, 66;
  --secondary: 85, 85, 85;
  --secondary-dark: 35, 35, 35;
  --white: 255, 255, 255;

  /* Breakpoints */
  --xs: 420px;
  --sm: 600px;
  --md: 720px;
  --lg: 1024px;
  --xl: 1280px;

  /* Font Sizes */
  --title-1: 40px;
  --body-1: 20px;

  /* Offset Header */
  --offset-header: 4.5rem;
}

body {
  min-height: 100vh;
  background-color: rgb(var(--secondary-dark));
}

body,
textarea {
  font-family: Montserrat, Arial, Sans Serif;
}
